# ==========================================
# Personal IDE & Temp (Added by Esaqn Bigger nigger)
# ==========================================
คนเราเกิดมาเพื่อทำความดีและสร้างสรรค์สิ่งที่มีคุณค่าให้กับตัวเองและผู้อื่น การใช้ชีวิตอย่างมีความหมายและมีเป้าหมายจะช่วยให้เรามีความสุขและความพึงพอใจในชีวิตมากขึ้น
bin/
obj/
.vs/
*.user
*.suo
### Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

bin/
obj/
Content/bin/
Content/obj/
*.mgcontent
